<h1>Observed Geographical entities</h1>

<table class="table table-striped table-condensed table-hover" id="places-table">
  <th>&nbsp;</th>
  <th>Place</th>
  <th>Number of mentions</th>
  <th>GeoHack</th>
  {{#each}}
    <tr>
      <td>
        <button type="button" class="btn btn-primary btn-xs">
          Edit
        </button>
      <td>
        {{#link-to "place" this}}{{name}}{{/link-to}}
      </td>
      <td>
        7
      </td>
      <td>
        GeoHacky stuff here
      </td>
  {{else}}
    <tr>
      <td colspan="4">There are no places.</td>
    </tr>
  {{/each}}
</table>